<div class="femhub-login-head">欢迎来到计算工场</div>
<div class="femhub-login-text">
 &emsp;&emsp;计算工场致力于提供大规模、轻量级、分布式工程计算解决方案.计算工场使您专注于问题本身，
在浏览器中轻松实现自定义大规模计算.<br>
欢迎联系： <a href="http://computing-works.appspot.com/">Computing-works, Inc</a>.
</div>
<br>
<div class="femhub-login-head">友情链接 </div>
<div class="femhub-login-text">
&emsp;&emsp;计算工场集成开源计算类库，形成高效求解引擎，致力为用户提供快速的原型设计与实现.
<li>移动网格论坛： <a href="http://www.movingmesh.org/">AFEPack</a></li>
<li>自适应有限元计算类库： <a href="http://www.dealii.org">Deal.II</a></li>
<li>基于Python的科学计算包: <a href="http://numpy.scipy.org/">Numpy</a> , <a href="http://www.scipy.org/">Scipy</a></li>
<li>网格划分软件: <a href="http://www-dinma.univ.trieste.it/nirftc/research/easymesh/">Easymesh</a>, <a href="http://www.geuz.org/gmsh/">Gmsh</a></li>
</div>
<br>
<div class="femhub-login-head">欢迎加入</div>
<div class="femhub-login-text">
 &emsp;&emsp;计算工场正在启航，欢迎有兴趣于程序设计、工程计算的人士加盟，
   请点击<a href="mailto:computation.works@gmail.com">这里</a>，交流探讨！ <hr/>
   Copyright &copy; 2014 Computing-works
</div>

