<div class="femhub-login-head">欢迎来到计算工场</div>
<div class="femhub-login-text">
 &emsp;&emsp;计算工场致力于提供大规模、轻量级、分布式工程计算解决方案.计算工场使您专注于问题本身，
在浏览器中轻松实现自定义大规模计算. 同时, 计算工场关注全球青少年儿童的健康成长.<br>
欢迎联系： <a href="http://computing-works.appspot.com/">Computing-works, Inc</a>.
</div>
<br>
<div class="femhub-login-head">友情链接 </div>
<div class="femhub-login-text">
&emsp;&emsp;计算工场集成开源计算类库，形成高效求解引擎，致力为用户提供快速的原型设计与实现.
</div>
<hr/>
<div class="femhub-login-head">
	<ul>
		<li>游戏引擎：<a href="http://www.pygame.org/" target="_blank">Pygame</a></li>
		<li>3D引擎与打印服务：<a href="http://i.materialise.com/" target="_blank">iMaterialise</a></li>
		<li>材料数据接口：<a href="http://www.matweb.com/" target="_blank">MatWeb</a></li>
		<li>移动网格论坛： <a href="http://www.movingmesh.org/" target="_blank">AFEPack</a></li>
		<li>自适应有限元计算类库： <a href="http://www.dealii.org" target="_blank">Deal.II</a></li>
		<li>基于Python的科学计算包: <a href="http://numpy.scipy.org/" target="_blank">Numpy</a> , <a href="http://www.scipy.org/" target="_blank">Scipy</a></li>
		<li>网格划分软件: <a href="http://www-dinma.univ.trieste.it/nirftc/research/easymesh/" target="_blank">Easymesh</a>, <a href="http://www.geuz.org/gmsh/" target="_blank">Gmsh</a></li>
		<li>爱得魔都(中国): <a href="http://www.edmodo.com/" target="_blank">Edmodo</a></li>
		<li>露露(大中华区): <a href="http://www.lulu.com/" target="_blank">Lulu</a></li>
	</ul>
</div>
<br>
<div class="femhub-login-head">欢迎加入</div>
<div class="femhub-login-text">
 &emsp;&emsp;计算工场正在启航，欢迎有兴趣于程序设计、工程计算的人士加盟，
   请点击<a href="mailto:computation.works@gmail.com">这里</a>，交流探讨！
</div>
<br><hr><br>
<p> Copyright &copy 2014  chengluo's workstation.</p>
